<h1>Sign Up</h1>
<%# @user refer to the registrations_controller file that points to the User model %>
<%# sign_up_path is the POST sign-up in routes.rb %>
<%# The email, password, and password_confirmation symbols are pointed to User model by the controller. It (password and password_confirmation) is passed to has_secure_password method %>
<%# Convention is creating a lot of abstraction. %>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "alabi@email.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
<% end %>